{% extends 'base.html' %}

{% block content %}
<head>
    <title>Pokédex</title>
</head>
<h1>Bienvenido a la Pokédex</h1>
<p>Busca tu Pokémon favorito</p>
<form method="get" action="/search">
    <input type="text" name="query" placeholder="Busca un Pokémon" value="{{ query }}">
    <button type="submit">Buscar</button>
</form>

<div>
    <p>Filtra por su tipo</p>
    <button class="Type filtro" onclick="location.href='/'">Quitar Filtro</button>
</div>
<!-- Filtros por tipo de Pokémon -->
<div class="type-filter">
    <button class="Type normal" onclick="location.href='?type=normal'">Normal</button>
    <button class="Type fire" onclick="location.href='?type=fire'">Fire</button>
    <button class="Type water" onclick="location.href='?type=water'">Water</button>
    <button class="Type electric" onclick="location.href='?type=electric'">Electric</button>
    <button class="Type fairy" onclick="location.href='?type=fairy'">Fairy</button>
    <button class="Type grass" onclick="location.href='?type=grass'">Grass</button>
    <button class="Type ice" onclick="location.href='?type=ice'">Ice</button>
    <button class="Type fighting" onclick="location.href='?type=fighting'">Fighting</button>
    <button class="Type poison" onclick="location.href='?type=poison'">Poison</button>
    <button class="Type ground" onclick="location.href='?type=ground'">Ground</button>
    <button class="Type flying" onclick="location.href='?type=flying'">Flying</button>
    <button class="Type psychic" onclick="location.href='?type=psychic'">Psychic</button>
    <button class="Type bug" onclick="location.href='?type=bug'">Bug</button>
    <button class="Type rock" onclick="location.href='?type=rock'">Rock</button>
    <button class="Type ghost" onclick="location.href='?type=ghost'">Ghost</button>
    <button class="Type dragon" onclick="location.href='?type=dragon'">Dragon</button>
    <button class="Type steel" onclick="location.href='?type=steel'">Steel</button>
    <button class="Type dark" onclick="location.href='?type=dark'">Dark</button>
</div>

<!-- Mostrar resultados de búsqueda -->
{% if pokemon_data %}
    <h2>Resultado de búsqueda</h2>
    <div class="pokemon-card">
        <h2 class="pokemon-name">{{ pokemon_data.name | capfirst }}</h2>
        <img src="{{ pokemon_data.sprites.front_default }}" alt="{{ pokemon_data.name }}" class="pokemon-sprite">
        <div class="pokemon-info">
            <p> N°{{ pokemon_data.id }}</p>
            <ul class="TypeList">
                {% for type in pokemon_data.types %}
                    <li class="Type {{ type.type.name | lower }}">
                        {{ type.type.name | capfirst }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

<!-- Lista de Pokémon -->
<ul class="pokemon-list">
    {% for pokemon in pokemons %}
        <li class="pokemon-item">
            <a href="{% url 'pokemon_detail' pokemon.name %}" class="pokemon-card-link">
                <div class="pokemon-card">
                    <img 
                        src="{{ pokemon.sprites.front_default }}" 
                        alt="{{ pokemon.name }}" 
                        class="pokemon-sprite">
                    <h2 class="pokemon-name">{{ pokemon.name | capfirst }}</h2>
                    <div class="pokemon-info">
                        
                        <ul class="TypeList">
                            {% for type in pokemon.types %}
                                <li class="Type {{ type | lower }}">
                                    {{ type | capfirst }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>


<!-- Paginación -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Pág {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
