{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pokemon_data.name | capfirst }} - Detalles</title>

</head>
<body class="glass {{ pokemon_data.types.0.type.name | lower }}">
    <div class="pokemon-detail-container glass {{ pokemon_data.types.0.type.name | lower }}">
        <div class="pokemon-detail-header">
            <img src="{{ pokemon_data.sprites.front_default }}" alt="{{ pokemon_data.name }}">
            <h1>{{ pokemon_data.name | capfirst }} N°{{ pokemon_data.id }}</h1>
        </div>
        <div class="pokemon-detail-info">
            <div class="info-section-detail glass {{ pokemon_data.types.0.type.name | lower }}">
                <h2>Tipos</h2>
                <ul class="TypeList">
                    {% for type in pokemon_data.types %}
                        <li class="Type {{ type.type.name | lower }}">
                            {{ type.type.name | capfirst }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="info-section-detail glass {{ pokemon_data.types.0.type.name | lower }}">
                <h2>Estadísticas Base</h2>
                <ul>
                    {% for stat in pokemon_data.stats %}
                        <li>{{ stat.stat.name | capfirst }}: {{ stat.base_stat }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="info-section-detail glass {{ pokemon_data.types.0.type.name | lower }}">
                <h2>Habilidades</h2>
                <ul>
                    {% for ability in pokemon_data.abilities %}
                        <li>{{ ability.ability.name | capfirst }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="info-section-detail glass {{ pokemon_data.types.0.type.name | lower }}">
                <h2>Movimientos</h2>
                <ul>
                    {% for move in page_obj %}
                        <li>{{ move.move.name | capfirst }}</li>
                    {% endfor %}
                </ul>
            
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            
            
        </div>
        <div class="evolution-section glass {{ pokemon_data.types.0.type.name | lower }}">
            <h2>Evoluciones</h2>
            {% if evolution_details %}
                <ul class="evolution-list">
                    {% for evolution in evolution_details %}
                        <li class="evolution-item">
                            <img src="{{ evolution.sprite }}" alt="{{ evolution.name }}">
                            <p>{{ evolution.name | capfirst }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No tiene evoluciones.</p>
                    {% endif %}
        </div>
        <a href="/" class="back-button-detail">Volver</a>
    </div>
</body>

</html>
{% endblock %}
<script>
    document.querySelectorAll('.expand-btn').forEach(button => {
        button.addEventListener('click', function() {
            const info = this.nextElementSibling;
            info.style.display = info.style.display === 'none' ? 'block' : 'none';
        });
    });
</script>